/* Variables */
:root {
	--primary: rgb(97, 226, 218);
	--business: #3a82ee;
	--personal: var(--primary);
	--light: #eac893;
	--grey: #732424;
	--dark: #313154;
	--danger: #ff5b57;

	--shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

	--business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
	--personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}
/* End of Variables */

/* Resets */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'montserrat', sans-serif;
}

input:not([type="radio"]):not([type="checkbox"]), button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
}


body {
	background: var(--light);
	color: var(--dark);
	
	align-self: center;

	

}

section {
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

h3 {
	color: var(--dark);
	font-size: 2rem;
	font-weight: 600;
    text-align: center;
	margin-bottom: 0.5rem;
}

h4 {
	color: var(--grey);
	font-size: 1rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.create-todo {

	text-align: center;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
}

#content{
	display: block;
	width: 100%;
	
	font-size: 1rem;
	padding: 10px;
	color: var(--dark);
	background-color: #FFF;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1rem;
}

.create-todo input[type="text"] {
	display: block;
	width: 500px;
	margin-left: 10px;
	font-size: 1rem;
	padding: 10px;
	color: var(--dark);
	background-color: #FFF;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	
}

.inputctbox{
	display: flex;
	align-items: center;
    margin-bottom: 10px;
}

.create-todo input[type="submit"] {
	display: block;
	width:200px;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.125rem;
	padding: 10px;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	background-color: var(--primary);
	box-shadow: var(--personal-glow);
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.2s ease-out;
}

.create-todo input[type="submit"]:hover {
	opacity: 0.75;
}


.prioritybasis{

    margin-left: 10px;

    height: 40px;
    width: auto;
    background-color: transparent;
    border: 0px;
    font-size: 16px;
    font-family: "Ubuntu",sans-serif;

}

#dateInput, #timeInput{

	margin-bottom: 10px;
	margin-left: 10px;
	font-size: 20px;
	
}

.duedatebox{
    display: flex;
    justify-content: space-around;
}
/*
input[type="radio"],
input[type="checkbox"] {
	display: none;
}



.bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 999px;
	border: 2px solid var(--business);
	box-shadow: var(--business-glow);
}*/


/*
.bubble::after {
	content: '';
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	background-color: var(--business);
	box-shadow: var(--business-glow);
	border-radius: 999px;
	transition: 0.2s ease-in-out;
}

*/
/*
input:checked ~ .bubble::after {
	width: 10px;
	height: 10px;
	opacity: 1;
}*/



.todo-list{

	width: 100%;
	
}

.todo-list .list {
	
	max-height:400px;
	overflow-y: scroll;
	
	display: flex;
	flex-direction: column;
	
}
.check{
	width: 150px;
	margin-right: 10px;
}

.check input{

	font-size: 15px;
	color: #313154;
	
	
}

.todo-item {
	display: flex;
	align-items: center;
	background-color: #FFF;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	
	margin-bottom: 0.25rem;
	
	
}



.todo-item label {
	display: block;
	margin-right: 1rem;
	cursor: pointer;
}

.tablebar{

	display: flex;
	
	
	
	
}
.tablebar tr{
	display: flex;
	justify-content: space-between;
}
.tablebar td{
	padding-right: 40px;
	
}
.todoitembox{
	padding-left: 0px
}

.todo-item .todo-content input {
	color: var(--dark);
	width: 300px;
	margin-right: 20px;
	font-size: 1.125rem;
}

.todo-item .actions {
	display: flex;
	align-items: center;
}

.todo-item .actions button {
	display: block;
	padding: 0.5rem;
	border-radius: 0.25rem;
	color: #FFF;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
	opacity: 0.75;
}

.todo-item .actions .edit {
	margin-right: 0.5rem;
	background-color: blue
}

.todo-item .actions .delete {
	background-color: var(--danger);
}

.todo-item.done .todo-content input ,.todo-item.done .check input{
    text-decoration: line-through;
	
	color: var(--grey);
}
.tablebar{
	align-items: center;
}
.tablebar select{

	height: 30px;
	background-color: transparent;

}
.heading {
	display: flex;
	
}

.heading div{

	border: 1px black solid;
	
}


.subtaskbutton{
	
	color: #3a82ee;
	cursor: pointer;
	
}
.subtaskbutton:hover{
	text-decoration: underline;
	
}


.expiredlist{
	
	max-height:400px;
	overflow-y: scroll;
}

.activitylogbox {

	height: 300px;
	width:600px;
	overflow-y: scroll;
}

.activitylogs h3{
	text-align: left;
}

.activitylogbox li{
	margin-bottom: 5px;
}

.searchbox {
	background-color: #FFF;
	text-align: center;
	align-items: center;
}



.tagbttn{
	
	width: 30px;
}

.allitems{
	display: flex;
}
#subtask,#reminder{
	display: flex;
	flex-direction: column;
	padding: 10px;

	
	margin-top: 50px;
	width: 300px;
}


.subreminder{
	display: flex;
	justify-content: space-around;
}
#subtaskcontent,#remindercontent{

	background-color: #FFF;
	height: 30px;

	margin-bottom: 20px;
	width: 300px;
	padding: 10px;
	border-radius: 4px;
}

#submitsubtask, #submitreminder{
	background-color: #FFF;
	height: 30px;
	background-color: aquamarine;
color: #313154;
	margin-top: 20px;
	width: 300px;
	padding: 10px;
	border-radius: 4px;
}


.sub-item {
	display: flex;
	align-items: center;
	background-color: #FFF;
	padding: 0.25rem;
	width:400px;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	
	margin-bottom: 0.25rem;
	margin-left: auto;
	margin-right:auto;
	
	
}



.sub-item label {
	display: block;
	margin-right: 1rem;
	cursor: pointer;
}


.sub-item .todo-content input {
	color: var(--dark);
	
	font-size: 1.125rem;
}

.sub-item .actions {
	display: flex;
	align-items: center;
}

.sub-item .actions button {
	display: block;
	padding: 0.5rem;
	border-radius: 0.25rem;
	color: #FFF;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.sub-item .actions button:hover {
	opacity: 0.75;
}

.sub-item .actions .edit {
	margin-right: 0.5rem;
	background-color: blue
}

.sub-item .actions .delete {
	background-color: var(--danger);
}

.sub-item.done .todo-content input {
	text-decoration: line-through;
	color: var(--grey);
}

.containdiv{
	display: flex;
	flex-direction: column;
}

.lastbox {
	display: flex;
}

.belowDate{
	justify-content: space-evenly;
}
.heading{
	align-items: center;
	margin-top: 10px;
	
}
.heading div{
	text-align: center;
	height: 40px;
	align-items: center;
	padding: 10px;
	
}

.todohead{

	width: 350px;
	
}
.todoother{
	width: 150px;
}
.todoactions{
	width: 350px;
}
.expiredtask{
	background-color: rgb(222, 117, 117);
	opacity: 100%;
}

#reminder{
	width: 300px;
}

.reminderbox {
	display: flex;
	justify-content: space-around;
}

.sortandsearch{
	margin-bottom: 20px;
	justify-content: space-between;
	display: flex;
}